@keyframes smoothTransitionOn {
    from {
        background-color: var(--default-color);
    }
    to {
        background-color: gray;
        left: 55px;
    }
}
@keyframes smoothTransitionOff {
    from {
        background-color: gray;
        left: 55px;
    }
    to {
        background-color: var(--default-color);
        left: 3px;
    }
}
.wrapper {
    width: 100px;
    height: 40px;
    background-color: var(--bg-color);
    border: 2px solid var(--border-color);
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    & .activeBlockOn {
        border-radius: 5px;
        position: absolute;
        left: 3px;
        top: 2.7px;
        width: 40px;
        height: 31px;

        animation-duration: 1s;
        animation-name: smoothTransitionOn;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    & .activeBlockOff {
        border-radius: 5px;
        position: absolute;
        left: 3px;
        top: 2.7px;
        width: 40px;
        height: 31px;

        animation-duration: 1s;
        animation-name: smoothTransitionOff;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
}