.customStepper {
    display: grid;
    row-gap: 10px;
    & .steps {
        display: flex;
        column-gap: 10px;
        & .commonStep {
            text-align: center;
            border-bottom: 1px solid transparent;
        }
        & .activeStep {
            text-align: center;
            border-bottom: 1px solid var(--default-color);
        }
        & .commonStep:hover, & .activeStep:hover {
            cursor: pointer;
            border-bottom: 1px solid var(--default-color);
        }
    }
    & .activeStepContent {
        margin-top: 10px;
        min-height: 380px;
    }
}