.markedEventInfo {
    width: 100%;
    border-radius: 5px;
    background-color: var(--bg-color-block);
    padding: 10px;
    display: grid;
    grid-template-columns: 100px calc(100% - 145px) 25px;
    gap: 10px;
    & .image {
        width: 100%;
    }
    & .info {
        display: flex;
        flex-direction: column;
        gap: 5px;
        & .title {
            font-size: 14px;
        }
        & .description {
            font-size: 12px;
            display: -webkit-box;
            -webkit-line-clamp: 2; /* Число строк */
            -webkit-box-orient: vertical;
            overflow: hidden; /* Скрывает лишний текст */
            text-overflow: ellipsis; /* Добавляет точки */
            line-height: 1.2em; /* Опционально: задает высоту строки */
            max-height: 2.4em;
        }
    }
    & .actions {
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;
    }
}