.content {
    .chapters {
        height: 70px;
        padding-top: 0.5%;
        & button {
            border: none;
            background-color: white;
            margin-right: 3%;
        }
        & button:hover {
            border-bottom: 3px solid rgb(134, 134, 243);
        }
    }
    .activeChapter {
      width: 100%;
    }
}
.chapterActivated {
    border-bottom: 3px solid rgb(134, 134, 243);
}