.peoples {
    .chapters {
        display: flex;
        margin-bottom: 10px;
        align-items: center;
        & .hint {
            color: var(--text-color);
            cursor: pointer;
        }
        & .hint:hover {
            color: gray;
        }
        & .hintText {
            & .title {
                color: var(--default-color);
            }
        }
        & button {
            border: none;
            background-color: transparent;
        }
        & button:hover {
            border-bottom: 3px solid rgb(134, 134, 243);
        }
        & .selectedChapter {
            border-bottom: 3px solid rgb(134, 134, 243);
        }
        & .nonSelectedChapter {
            border: none;
        }
    }
    .activeChapter {
      width: 100%;
    }
}
.chapterActivated {
    border-bottom: 3px solid rgb(134, 134, 243);
}

@media screen and (max-width: 600px) {
    .peoples {
        & .chapters {
            font-size: 18.5px;
        }
    }
}
@media screen and (max-width: 350px) {
    .peoples {
        & .chapters {
            font-size: 17px;
        }
    }
}