.content {
    & .types {
        display: flex;
        align-items: center;
        & button {
            margin-right: 10px;
            background-color: transparent;
            outline: none;
            font-size: 18px;
            margin-bottom: 10px;
            border: none;
        }
        & button:hover {
            border-bottom: 2px solid var(--default-color);
        }
        & .active {
            border-bottom: 2px solid var(--default-color);
        }
        & .inactive {
            border-bottom: 2px solid transparent;
        }
    }
    & .result {
                
    }
}