.content {
    & .types {
        & button {
            margin-right: 10px;
            border: none;
            background-color: transparent;
            outline: none;
        }
        & button:hover {
            border-bottom: 2px solid var(--default-color);
        }
        & .active {
            border-bottom: 2px solid var(--default-color);
        }
        & .inactive {
            border-bottom: none;
        }
    }
    & .result {
                
    }
}