.content {
    margin: 2%;
    & .types {
        & button {
            margin-right: 2%;
            border: none;
            background-color: transparent;
            outline: none;
        }
        & button:hover {
            border-bottom: 2px solid black;
        }
        & .active {
            border-bottom: 2px solid black;
        }
        & .inactive {
            border-bottom: none;
        }
    }
    & .result {
                
    }
}