.ul {
    display: grid;
    font-size: 18px;
    row-gap: 10px;
    margin-top: 25px;
    & a:hover {
        color: var(--default-color);
    }
    & .messangerLink {
        display: flex;
        align-items: center;
        & .count {
            min-width: 10px;
            min-height: 10px;
            border-radius: 50%;
            background-color: var(--default-color);
            margin-left: 5px;
        }
    }
    & .marksLink {
        display: flex;
        align-items: center;
        column-gap: 5px;
        & .countMarks {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: var(--default-color);
        }
    }
}
.active {
    text-align: left;
    float: left;
    border-bottom: 2px solid var(--default-color);
}

@media screen and (max-width: 600px) {
    .ul {
        font-size: 18px;
        row-gap: 5px;
    }
}