.formGroup {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px solid grey;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    & .inputFileTitle {
        margin-left: 40px;
    }
    & .inputTypeFile {
        width: 190px;
        height: 190px;
        border-radius: 50%;
        opacity: 0;
    }
}

@media screen and (max-width: 767px) {
    .formGroup {
        width: 100px;
        height: 100px;
        margin-left: 40%;
        & .inputTypeFile {
            width: 100px;
            height: 100px;
        }
        & .inputFileTitle {
            font-size: 15px;
            margin-left: 20px;
        }
    }
}