.customInputWrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    box-sizing: border-box;
    .postFix {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: max-content;
    }
    & > input {
        padding-left: 5px;
        border: none;
        box-sizing: border-box;
    }
}