.customLoaderWrapper {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    height: 80%;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

@keyframes logo_draw {
	0% {stroke-dashoffset: 248;}
    50% {stroke-dashoffset: 0;}
    100% {stroke-dashoffset: -248;}
}
.logo {
	stroke-dasharray: 248;
	stroke-dashoffset: 248;
}
.start 
.logo {
	animation: logo_draw 2333ms linear 0ms forwards infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}