.list {
    display: grid;
    row-gap: 10px;
    & .wrapper {
        cursor: pointer;
        display: grid;
        grid-template-columns: 100px calc(100% - 170px) 50px;
        background-color: var(--bg-color-block);
        padding: 10px;
        gap: 10px;
        box-sizing: border-box;
        border-radius: 5px;
        & .image {
            width: 100%;
            border-radius: 3px;
        }
        & .info {
            display: flex;
            flex-direction: column;
            gap: 5px;
            & .title {
                font-size: 14px;
            }
            & .user {
                display: flex;
                align-items: center;
                gap: 10px;
                & .avatar {
                    width: 30px;
                    border-radius: 5px;
                }
                & .name {
                    font-size: 13px;
                    &:hover {
                        color:  var(--default-color);
                    }
                    & .date {
                        color: rgba(128, 128, 128, 0.638);
                    }
                }
            }
        }
        & .actions {
            display: flex;
            align-items: center;
            gap: 5px;
            & .action {
                cursor: pointer;
                &:hover {
                    color: var(--hover-color);
                }
            }
        }
    }
}


.warning {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: gray;
    text-align: center;
}

@media screen and (max-width: 700px) {
    .list {
        & .wrapper {
            
        }
    }
}