.card {
    display: flex;  
    border-radius: 10px;
    align-items: center;
    height: 200px;
    margin: 1%;
    color: white;
    position: relative;
    transform-style: preserve-3d;
    transition: .5s;
    & h2 {
        background-color: var(--bg-color-block);
        color: var(--text-color);
        padding: 5px;
        position: absolute;
        left: 0px;
        top: 0px;
        border-radius: 9px 0 10px 0;
    }
    &:hover {
        border-color: 1px solid black;
        cursor: pointer;
    }    
}

.card:hover {
    transform: perspective(2000px) rotateY(15deg);
    transition: transform .3s;
    border: 3px solid var(--default-color);
}