.content {
    width: 98%;
    & .title {
        font-size: 18px;
        margin-left: 20px;
    }
    & .errorMessage {
        font-size: 18px;
        text-align: center;
        margin-top: 25px;
    }
}

@media screen and (max-width: 500px) {
    .content {
        & .title {
            font-size: 18px;
        }
    }
}