.loader {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid blue;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: rotate 1.5s infinite;
    margin-top: 20%;
    margin-left: 35%;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}