.modal {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    & .modalContent {
        padding: 50px;
        border-radius: 50px;
        margin: 15% auto;
        width: 33%;
        min-height: 100px;
        background-color: white;
    }
}