.eachFilterBlock {
    display: grid;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    height: min-content;
    background-color: var(--bg-color-block);
}
.filterSelect {
    width: 100%;
    max-width: 248px;
}
.searching {
    display: grid;
    grid-auto-rows: min-content;
    margin-bottom: 20px;
    width: 100%;
    & .params {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 5px;
        row-gap: 5px;
        & .gender {
            @extend .eachFilterBlock;
        }
        & .goal {
            @extend .eachFilterBlock;
        }

        & .events {
            @extend .eachFilterBlock;
        }

        & .interests {
            @extend .eachFilterBlock;
        }
    }
    & .result {
        padding-top: 20px;
        & .users {
            & .usersList {
                height: 100%;
                display: flex;
                flex-direction: column;
                row-gap: 5px;
                text-align: center;
            }
            & .nothingFound {
                display: flex;
                align-items: center;
                column-gap: 10px;
            }
        }
    }
}
@media screen and (max-width: 1105px) {
    .eachFilterBlock {
        height: auto;
    }
    .searching {
        & .params {
            grid-template-columns: 1fr 1fr;
        }
    }
}
@media screen and (max-width: 505px) {
    .searching {
        & .params {
            font-size: 15px;
        }
    }
    .eachFilterListElem {
        font-size: 16px;
    }
}