@keyframes rotate {
    100% {
        transform: rotateX(360deg);
    }
}

.changingInterests {
    width: 100%;
    height: 100%;
    font-size: 16px;
    perspective: 200px;
    transform-style: flat;

    & .changingInterestsList {
        perspective: 200px;
        transform-style: flat;
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
        justify-content: center;

        & button {
            outline: none;
            animation: rotate 1s;
            background-color: transparent;
        }

        & .active {
            border-radius: 5px;
            border: 2px solid rgb(44, 142, 255);
            padding: 3px;
        }

        & .inactive {
            border-radius: 5px;
            border: 2px solid rgb(55, 170, 9);
            padding: 3px;
        }
    }

    & .changingInterestsActions {
        & .save {
            margin-top: 5px;
            border: none;
            background-color: rgb(68, 171, 255);
            color: white;
            border-radius: 5px;
            padding: 5px
        }

        & .save:hover {
            background-color: rgb(255, 232, 28);
            color: black;
        }
    }
}

@media screen and (max-width: 380px) {
    .changingInterests {
        font-size: 15px;
    }
}

@media screen and (max-width: 380px) {
    .changingInterests {
        font-size: 14px;
    }
}