.eventMoreInfo {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 15px;
    margin: 15px;
    & .eventMoreInfoData {
        display: flex;
        flex-wrap: wrap;
        column-gap: 10px;
        align-items: center;
        & .block {
            display: flex;
        }
        & .block:nth-child(1) {
            border: 2px solid rgba(36, 255, 72, 0.573);
            padding: 5px;
            border-radius: 15px;
        }
    }
    & .eventMoreInfoTags {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 5px;
        row-gap: 5px;
        & .tag {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 15px;
            padding: 5px;
            color: rgb(81, 81, 81);
        }
        & .tag:nth-child(odd) {
            border: 1.5px solid rgb(69, 184, 255);
        }
        & .tag:nth-child(even) {
            border: 1.5px solid rgb(66, 217, 255);
        }
    }
    & a {
        color: rgb(0, 140, 255);
    }
}