.content {
    width: 98%;
    display: grid;
    //grid-template-rows: 20% 80%;
    & .calendar {
        height: 85px;
        margin-top: 10px;
        font-size: 24px;
    }
    & .list {
        min-height: 1000px;
        font-size: 22px;
    }
    & .list::-webkit-scrollbar {
        width: 12px;               /* ширина scrollbar */
    }
    & .list::-webkit-scrollbar-track {
        background: transparent;        /* цвет дорожки */
    }
    & .list::-webkit-scrollbar-thumb {
        background-color: rgb(138, 138, 138);    /* цвет плашки */
        border-radius: 20px;       /* закругления плашки */
        //border: 3px solid white;  /* padding вокруг плашки */
    }
}
.block {
    margin-bottom: 2.5%;
    border-radius: 10px;
    //background-color: rgba(40, 40, 40, 0.463);
}