.choosingEvents {
    font-family: Nunito;
    font-size: 14px;
    text-overflow: ellipsis;
    & table {
        width: 100%;
        & td {
            text-align: center;
            border: 1px solid rgba(72, 145, 255, 0.645);
        }
    }
    & .loaderWrapper {
        width: 100%;
        display: grid;
        justify-content: center;
        justify-items: center;
    }
}