.user {
    width: 98%;
    height: 200px;
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    column-gap: 10px;
    & .image {
        width: 90%;
        height: 90%;
        border: 1px solid black;
        border-radius: 50%;
        margin-left: 5%;
        background-size: 100% 100%;
        margin-right: 5%;
        & .round {
            margin-left: 140px;
            margin-top: 140px;
            width: 20px;
            height: 20px;
            background-color: rgb(147, 224, 147);
            border: 2px solid white;
            border-radius: 50%;
        }
    }
    & .image>img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    & .name {
        text-align: left;
        padding-left: 20px;
        & .town {
            color: grey;
        }
    }
}
.user:hover {
    cursor: pointer;
    background-color: rgba(215, 215, 215, 0.301);
}

@media screen and (max-width: 875px) {
    .user {
        & .image {
            width: 160px;
            height: 160px;
            & .round {
                margin-left: 130px;
                margin-top: 130px;
            }
        }
    }
}
@media screen and (max-width: 875px) {
    .user {
        height: 160px;
        & .image {
            width: 160px;
            height: 160px;
            & .round {
                margin-left: 130px;
                margin-top: 130px;
            }
        }
    }
}

@media screen and (max-width: 520px) {
    .user {
        h5 {
            font-size: 15px;
        }
        grid-template-columns: 1fr 4fr;
        height: 80px;
        & .image {
            width: 80px;
            height: 80px;
            & .round {
                margin-left: 60px;
                margin-top: 60px;
            }
        }
    }
}