.interests {
    font-family: Nunito;
    font-size: 16px;
    & .title {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        column-gap: 5px;

        & .head {
            cursor: pointer;
            & .change {
                margin-left: 5px;
                font-size: 14px;
                color: gray;
            }
        }
    }

    & .list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 5px;
        row-gap: 5px;
        font-size: 14px;
        margin-top: 15px;
        & .item {
            display: flex;
            align-items: center;
            font-family: Nunito;
            border-radius: 5px;
            font-size: 16px;
            padding: 3px;
            border: 1px solid var(--default-color);
        }
    }

    button {
        outline: none;
        cursor: pointer;
        margin-right: 5px;
        margin-top: 5px;
        background-color: transparent;
    }
}

@media screen and (max-width: 1720px) {
    .interests {
        font-size: 16px;
        & .interest {
            font-size: 16px;
        }
        & .title {
            font-size: 19px;
            & .changeStatus {
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 380px) {
    .interests {
        & .interest {
            font-size: 15px;
        }
    }
}