.chatList {
    border-right: 1px solid grey;
    & .menu {
        & button {
            font-size: 18px;
            background-color: white;
            border: none;
            outline: none;
        }
        & button:hover {
            cursor: pointer;
            border-bottom: 2px solid black;
        }
    }
}