.chatList {
    height: calc(100vh - 25px);
    & .list {
        width: 100%;
        height: calc(100vh - 97px);
        overflow-x: auto;
        display: grid;
        justify-content: center;
        justify-items: center;
        align-items: center
    } 
    & .list::-webkit-scrollbar {
        width: 12px;               /* ширина scrollbar */
    }
    & .list::-webkit-scrollbar-track {
        background: white;        /* цвет дорожки */
    }
    & .list::-webkit-scrollbar-thumb {
        background-color: grey;    /* цвет плашки */
        border-radius: 20px;       /* закругления плашки */
        border: 3px solid white;  /* padding вокруг плашки */
    }
    & .menu {
        & button {
            font-size: 20px;
            background-color: white;
            border: none;
            outline: none;
        }
        & button:hover {
            cursor: pointer;
            border-bottom: 2px solid black;
        }
    }
}
.loader {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid rgb(0, 153, 255);
    border-left-color: transparent;
    border-right-color: transparent;
    animation: rotate 1.5s infinite;
    margin-left: 40%;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}


@media screen and (max-width: 1430px) {
    .chatList {
        & .menu {
            & button {
                font-size: 18px;
            }
        }
    }
}
@media screen and (max-width: 1300px) {
    .chatList {
        & .menu {
            & button {
                font-size: 16px;
            }
        }
    }
}
@media screen and (max-width: 1180px) {
    .chatList {
        & .menu {
            & button {
                font-size: 14px;
            }
        }
    }
}