.postCommentForm {
    display: grid;
    grid-template-columns: 90% 10%;
    grid-column-gap: 10px;
    width: 100%;
    & input {
        border-radius: 3px;
        font-size: 21px;
        outline: none;
        width: 100%;
        height: 40px;
        border: 1px solid var(--border-color);
    }
    & button {
        border-radius: 3px;
        font-size: 30px;
        font-weight: 600;
        outline: none;
        border: none;
        color: white;
        background-color: var(--default-color);
    }
    & button:hover {
        color: black;
        background-color: rgb(255, 204, 51);
    }
}

@media screen and (max-width: 1720px) {
    .postCommentForm {
        & input {
            font-size: 16px;
        }
        & button {
            font-size: 25px;
        }
    }
}
