.searching {
    width: 100%;
    height: 100%;
    display: grid;
    grid-auto-rows: min-content;
    & .params {
        display: grid;
        grid-template-columns: repeat(auto-fill, 280px);
        //justify-content: space-between;
        & h4, h6 {
            display: inline-block;
            width: 100%;
            font-weight: 800;
        }
        & .gender {
            border-right: 1px solid grey;
            padding: 2%;
            & button {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                border: 1px solid rgb(136, 136, 235);
                background-color: white;
                margin-right: 5%;
            }
            & button:hover {
                cursor: pointer;
                background-color: rgb(136, 136, 235);
            }
            & .part {
                margin-bottom: 10%;
            }
        }
        & .goal {
            border-right: 1px solid grey;
            padding: 2%;
            overflow-y: scroll;
            overflow-x: hidden;
            & .eachGoal {
                width: 100%;
                height: 50px;
                margin-bottom: 5%;
                padding-left: 5%;
                padding-top: 2%;
            }
            & .eachGoal:hover {
                cursor: pointer;
                background-color: rgb(136, 136, 235);
            }
        }
        & .goal::-webkit-scrollbar { width: 3px;/* ширина scrollbar */}
        & .goal::-webkit-scrollbar-track { background: white;/* цвет дорожки */}
        & .goal::-webkit-scrollbar-thumb { background-color: rgb(187, 187, 187); }

        & .events {
            border-right: 1px solid grey;
            padding: 2%;
            font-size: 15px;
            overflow-y: scroll;
            overflow-x: hidden;
            & .eachEvent {
                width: 100%;
                height: 50px;
                margin-bottom: 5%;
                padding-left: 5%;
                padding-top: 4%;
            }
            & .eachEvent:hover {
                cursor: pointer;
                background-color: rgb(136, 136, 235);
            }
        }
        & .events::-webkit-scrollbar { width: 3px;/* ширина scrollbar */}
        & .events::-webkit-scrollbar-track { background: white;/* цвет дорожки */}
        & .events::-webkit-scrollbar-thumb { background-color: rgb(187, 187, 187); }

        & .interests {
            border-right: 1px solid grey;
            padding: 2%;
            & .eachPopular {
                width: 100%;
                height: 50px;
                margin-bottom: 5%;
                padding-left: 5%;
                padding-top: 2%;
            }
            & .eachPopular:hover {
                cursor: pointer;
                background-color: rgb(136, 136, 235);
            }
        }
    }
    & .result {
        padding-top: 5%;
        border: 1px solid black;
    }
}
@media screen and(max-width: 1105px) {
    .searching {
        & .params {
            grid-template-columns: 50% 50%;
        }
    }
}