.mobileLeftNavMenu {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 5px;
    width: 170px;
    min-height: 100vh;
    text-align: right;
    position: absolute;
    left: -130px;
    & .title {
        font-size: 21px;
        text-align: left;
        position: absolute;
    }
    & .btn {
        background-color: var(--bg-color);
    }
    & .list {
        margin-top: 20px;
        font-size: 20px;
        display: grid;
        text-align: left;
        & .item {
            display: flex;
            column-gap: 5px;
            align-items: center;
        }
    }
}

.startAnimation {
    animation-duration: 1s;
    animation-name: smoothTransition;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background-color: var(--bg-color);
    border-right: 1px solid rgba(128, 128, 128, 0.496);
}

@keyframes smoothTransition {
    from {
        left: -130px;
    }
    to {
        left: 0px;
    }
}