@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.header {
	display: grid;
	grid-template-columns: 300px 1fr;
	height: 120px;
	background-color: white;
	box-shadow:  1px 1px 5px rgba(154, 147, 140, 0.3), 1px 1px 5px rgba(154, 147, 140, 0.3);
	& .logo {
		align-items: center;
		justify-content: space-between;
		cursor: pointer;

		&Text {
			font-family: Nunito;
			font-size: 64px;
			line-height: 87px;
 
			color: #ffffff;
		}
	}

	&AuthPage {
		background: rgba(44, 44, 44, 0.11);
	}
	&MainPage {
		background: #000000;
	}
	&ProfilePage {
		background: white;
	}
}
