.videoCallModal {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    row-gap: 15px;
    & video {
        transform: scaleX(-1);
    }
}

.modalActions {
    & .watingMessage {
        font-size: 18px;
        text-align: center;
    }
    & .actions {
        display: flex;
        column-gap: 10px;
        cursor: pointer;
    }
}
