.ul {
    list-style: none;
    & li {
        font-family: Nunito;
        font-size: 22px;
        margin-top: 5px;
        & a {
            text-decoration: none;
            color: black;
        }
        & a:hover {
            border-bottom: 2px solid black;
        }
    }
}
.active {
    text-align:left;
    float:left;
    border-bottom: 2px solid rgb(74, 106, 248)
}
@media screen and(max-width: 1000px) {
    .ul {
        height: 150px;
        & li {
            display: inline;
            & a {
                margin-left: 2%;
            }
        }
    }
}
@media screen and(max-width: 440px) {
    .ul {
        & li {
            font-size: 21px;
            & a {
                margin-left: 0%;
            }
        }
    }
}
@media screen and(max-width: 400px) {
    .ul {
        & li {
            font-size: 20px;
            & a {
                margin-left: 0%;
                margin-right: 2%;
            }
        }
    }
}
@media screen and(max-width: 380px) {
    .ul {
        & li {
            font-size: 19px;
        }
    }
}
@media screen and(max-width: 360px) {
    .ul {
        & li {
            font-size: 18px;
        }
    }
}
@media screen and(max-width: 350px) {
    .ul {
        & li {
            font-size: 17px;
        }
    }
}