.ul {
    list-style: none;
    & .count {
        display: inline-block;
        text-align: center;
        margin-left: 1px;
        font-size: 15px;
        background-color: rgba(0, 140, 255, 0.445);
        width: 40px;
        color: white;
        border-radius: 10%;
    }
    & li {
        font-family: Nunito;
        font-size: 22px;
        & a {
            text-decoration: none;
            color: black;
        }
        & a:hover {
            border-bottom: 2px solid black;
        }
    }
}
.active {
    text-align:left;
    float:left;
    border-bottom: 2px solid rgb(74, 106, 248)
}
@media screen and (max-width: 1000px) {
    .ul {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        & li {
            display: flex;
            align-items: center;
            & a {
                margin-left: 2%;
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .ul {
        & .count {
            font-size: 14px;
            width: 29px;
            margin-left: 5px;
        }
    }
}

@media screen and (max-width: 440px) {
    .ul {
        & li {
            font-size: 21px;
        }
    }
}
@media screen and (max-width: 400px) {
    .ul {
        & li {
            font-size: 20px;
        }
    }
}
@media screen and (max-width: 380px) {
    .ul {
        & li {
            font-size: 19px;
        }
    }
}
@media screen and (max-width: 360px) {
    .ul {
        & li {
            font-size: 18px;
        }
    }
}
@media screen and (max-width: 350px) {
    .ul {
        & li {
            font-size: 17px;
        }
    }
}
