.messangerContent {
    width: 98%;
    display: grid;
    grid-template-columns: 150px calc(100% - 155px);
    column-gap: 5px;
    min-height: 500px;
    & .chatList {
        height: calc(100dvh - 120px);
    }
    & .chatZone {
        height: calc(100dvh - 120px);
        & .noChat {
            display: grid;
            grid-template-columns: 1fr;
            align-items: center;
            justify-content: center;
            justify-items: center;
            background-color: var(--bg-color-block);
            border-radius: 10px;
            height: 100%;
        }
    }
}

.mobileMessangerContent {
    width: 98%; 
    height: calc(100dvh - 150px);
}

.notificationModalText {
    font-size: 15px;
}

@media screen and (max-width: 810px) {
    .messangerContent {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr;
        grid-row-gap: 10px;
    }
}