.messangerContent {
    display: grid;
    grid-template-columns: 30% 70%;
    & .chatList {
        min-height: 570px;
        background-color: white;
    }
    & .chatZone {
        min-height: 570px;
        background-color: white;
    }
}
.block {
    padding: 2%;
    box-shadow:  1px 1px 5px rgba(154, 147, 140, 0.3), 1px 1px 5px rgba(154, 147, 140, 0.3);
}
.noChat {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    & .alert {
        color: grey;
    }
}