.messangerContent {
    display: grid;
    grid-template-columns: 30% 70%;
    & .chatList {
        background-color: white;
    }
    & .chatZone {
        background-color: white;
    }
}
.noChat {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    & .alert {
        color: grey;
    }
}