.customInput {
	max-width: 470px;
	height: 70px;
	display: grid;
	grid-template-columns: 60px 1fr 60px;
	align-items: center;
	background: #ffffff;
	border-radius: 90px;
	&:focus-within {
		border: 2px solid rgba(61, 177, 255, 0.4);
	}
	& input {
		height: 60px;
		flex: 0.8;
		background: white;
		border: 0;
		outline: none;
		border-radius: 90px;
		&:-webkit-autofill,
		&:-webkit-autofill:hover,
		&:-webkit-autofill:focus,
		&:-webkit-autofill:active {
			-webkit-box-shadow: 0 0 0 30px white inset !important;
			box-shadow: 0 0 0 30px white inset !important;
		}

		&::placeholder {
			font-size: 18px;
			color: #000000;
		}
	}
}

.secondIcon {
	display: flex;
	align-items: center;
	justify-content: center;
}
