.user {
    width: 98%;
    height: 120px;
    display: grid;
    grid-template-columns: 110px 1fr;
    align-items: center;
    column-gap: 10px;
    & .image {
        width: 110px;
        height: 110px;
        border: 1px solid black;
        border-radius: 50%;
        background-size: 100% 100%;
        & .round {
            margin-left: 80px;
            margin-top: 80px;
            width: 20px;
            height: 20px;
            background-color: rgb(147, 224, 147);
            border: 1px solid white;
            border-radius: 50%;
        }
    }
    & .image>img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    & .name {
        text-align: left;
        padding-left: 20px;
        & .tag {
            border-radius: 100px;
            font-size: 18px;
            font-weight: 300;
            color: black;
            padding: 0px 10px 0px 10px;
            margin-left: 10px;
        }
        & .town {
            color: grey;
        }
    }
}
.user:hover {
    cursor: pointer;
    background-color: rgba(215, 215, 215, 0.301);
    border-radius: 5px;
}

@media screen and (max-width: 750px) {
    .user {
        height: 80px;
        grid-template-columns: 70px 1fr;
        & .image {
            width: 70px;
            height: 70px;
            & .round {
                margin-left: 50px;
                margin-top: 50px;
                width: 15px;
                height: 15px;
            }
        }
    }
}

