.manageAcc {
    & label {
        display: inline-block;
        width: 200px;
        margin-top: 10px;
        font-size: 20px;
    }
    & input {
        display: inline;
        margin-top: 10px;
        font-size: 18px;
        width: 95%;
        height: 50px;
        width: 250px;
        border-radius: 5px;
        border: 1px solid gray;
    }
    & .saveButton {
        margin-top: 5px;
        border: none;
        background-color: rgb(76, 174, 255);
        color: white;
        width: 150px;
        height: 40px;
        border-radius: 5px;
        padding: 5px;
    }
    & .spanError {
        color: red;
        font-size: 14px;
    }
    & .successActionDiv {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        color: green;
        padding: 5px;
        width: 96%;
        border-radius: 5px;
        background-color: rgba($color: green, $alpha: 0.3);
    }
    & .unSuccessActionDiv {
        margin-top: 5px;
        color: red;
        padding: 5px;
        background-color: rgba($color: red, $alpha: 0.1);
    }
}

@media screen and (max-width: 600px){
    .manageAcc {
        & input {
            margin-top: 5px;
        }
        & .formElem {
            margin-top: 5px;
        }
    }
}