.places {
    font-family: Nunito;
    & .title {
        font-size: 19px;
    }
    & .list {
        font-size: 16px;
        & .item {
            float: left;
        }
    }
}

@media screen and (max-width: 350px) {
    .places {
        & .title {
            font-size: 17px;
        }
    }
}