.hintWrapper {
    display: flex;
    font-size: 24px;
    direction: rtl;
    & .bluredBlock {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        z-index: 2;
        background-color: rgba(33, 33, 33, 0.845);
    }
    & button {
        outline: none;
        border-radius: 100px;
        background-color: transparent;
    }
    & .hint {
        z-index: 3;
        direction: ltr;
        border-radius: 5px;
        font-size: 12px;
        max-width: 200px;
        max-height: 250px;
        overflow-y: scroll;
        text-align: center;
        position: absolute;
        word-wrap: break-word;
        border: 1px solid gray;
        margin-top: 40px;
        margin-left: 10px;
        padding: 5px;
        color: var(--text-color);
        background-color: var(--bg-color)
    }
}

@media screen and (max-width: 1500px) {
    .hintWrapper {
        & .hint {
           margin-top: 45px;
        }
    }
}