.auth {
    width: 100%;
    min-height: 100vh;
    background-image: url('../../public/images/background-login.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}