.markedUsers {
    width: 100%;
    & .list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
        column-gap: 30px;
        font-size: 16px;
        & .warning {
            width: 100%;
            margin-top: 20px;
            text-align: center;
            & .title {
            
            }
            & .subTitle {
                color: gray;
                font-size: 14px;
            }
        }
        & .markedUser {
            display: grid;
            grid-template-columns: 50px calc(100% - 120px) 55px;
            gap: 10px;
            align-items: center;
            cursor: pointer;
            background-color: var(--bg-color-block);
            width: 100%;
            padding: 10px;
            border-radius: 10px;
            & .avatar {
                border-radius: 50%;
                width: 100%;
            }
            & .actions {
                display: flex;
                gap: 10px;
            }
        }
    }
}