@keyframes rotate {
    from {
        margin-left: 200px;
    }
    to {
        margin-left: -10px;
    }
}
.eachError {
    padding: 5px;
    background-color: #101113e7;
    color: white;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-top: 5px;
    font-weight: 600;
    width: 100%;
    min-height: 40px;
    border-radius: 5px;
    animation: rotate 1s;
    animation-fill-mode: forwards;
}
