@keyframes showUp {
    from {
        margin-left: 240px;
    }
    to {
        margin-left: -10px;
    }
}
@keyframes hide {
    from {
        margin-left: -10px;
    }
    to {
        margin-left: 240px;
    }
}

.eachError {
    padding: 5px;
    background-color: #101113e7;
    color: white;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-top: 5px;
    font-weight: 600;
    width: 100%;
    min-height: 40px;
    border-radius: 5px;
}
.errorShowUp {
    @extend .eachError;
    animation: showUp 1s;
    animation-fill-mode: forwards;
}
.errorHide {
    @extend .eachError;
    animation: hide 1s;
    animation-fill-mode: forwards;
}
