.main {
	display: flex;
	justify-content: center;
	align-items: start;
	min-height: 100vh;
}
.container {
	display: grid;
	grid-template-rows: 120px 1fr;
}
.loginPage {
	background-image: url('../../../public/images/background-login.jpg');
	//background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.registerPage {
	background-image: url('../../../public/images/background-login.jpg');
	//background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
@media screen  and (max-width: 650px) {
	.container {
		padding-top: 15px;
		grid-template-rows: 1fr;
	}
}
