.main {
	display: flex;
	justify-content: center;
	min-height: 100vh;
}
.container {
	display: grid;
	grid-template-rows: 1fr;
	height: 100%;
}
.loginPage {
	background-image: url('../../../public/images/background-login.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.registerPage {
	background-image: url('../../../public/images/background-login.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
