.postCommentForm {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-column-gap: 10px;
    width: 100%;
    & input {
        border-radius: 3px;
        font-size: 15px;
        outline: none;
        width: 100%;
        height: 40px;
        border: 1px solid black;
    }
    & button {
        border-radius: 3px;
        font-size: 25px;
        font-weight: 600;
        outline: none;
        border: none;
        color: white;
        background-color: rgb(51, 150, 255);
    }
    & button:hover {
        color: black;
        background-color: rgb(255, 204, 51);
    }
}
