.markedEvents {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 5px;
    margin-top: 5px;
}
.notify {
    margin-top: 50px;
    & .title {
        text-align: center;
    }
    & .subTitle {
        text-align: center;
        font-size: 14px;
        color: gray;
    }
}

@media screen and (max-width: 470px) {
    .markedEvents {
        display: grid;
        grid-template-columns: 100%;
        justify-items: center;
    }
}