.card {
    display: flex;  
    border-radius: 10px;
    align-items: center;
    height: 200px;
    margin: 1%;
    color: white;
    position: relative;
    transform-style: preserve-3d;
    transition: .5s;
    justify-content: center;
    justify-items: center;
    & .title {
        color: white;
        padding: 5px;
        border-radius: 9px 0 10px 0;
        background-color: rgba(71, 71, 71, 0.592);
    }
    border: 3px solid transparent;
}

.card:hover {
    transform: perspective(1000px) rotateY(10deg);
    transition: transform .3s;
    border: 3px solid var(--default-color);
    cursor: pointer;
}