.musicContentElement {
    & audio {
        display: none;
    }
    font-size: 15px;
    display: grid;
    align-items: center;
    max-width: 600px;
    grid-template-columns: 50px calc(100% - 125px) 50px;
    min-height: 60px;
    background-color: var(--bg-color-block);
    padding: 7px;
    column-gap: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    & .musicContentElementLogo {
        & img {
            border-radius: 5px;
        }
    }
    & .musicContentElementInfo {
        display: grid;
        row-gap: 5px;
        & .authorName {
            color: rgb(255, 146, 51);
        }
        & .musicContentElementInfoProgress {
            display: flex;
            align-items: center;
            column-gap: 10px;
            min-height: 25px;
            & .musicContentElementInfoProgressElem {
                width: 50%;
                border-radius: 100px;
                height: 10px;
            }
            & .musicContentElementInfoProgressElem::-webkit-progress-bar {
                border-radius: 100px;
                background-color:gray;
            }
            & .musicContentElementInfoProgressElem::-webkit-progress-value {
                border-radius: 100px;
                background-color: var(--default-color);
            }
            & .musicContentElementInfoProgressElem::-moz-progress-bar {
                border-radius: 100px;
            }
        }
    }
    & .musicContentElementInfoActions {
        cursor: pointer;
        position: relative;
        & .audio {
            width: 15px;
            height: 30px;
            position: absolute;
            opacity: 0;
            left: 8px;
            top: 0;
        }
    } 
}

@media screen and (max-width: 600px) {
    .musicContentElement {
        width: 100%;
    }
}