.errorBlock {
    text-align: center;
    width: 400px;
    height: 400px;
    position: fixed;
    right: 0;
    top: 10%;
}

@media screen and (max-width: 360px) {
    .errorBlock {
        width: 360px;
    }
}