.customSlider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    & .customSliderSlides {
        display: flex;
        align-items: center;
        overflow: hidden;
        & .customSliderCurrentImage {
            & video, img {
                border-radius: 5px;
            }
            & video::-webkit-media-controls {
                width: 100%;
            }
            
            & video::-webkit-media-controls-panel {
                width: 100%;
            }
        }
    }
    & .customSliderState {
        display: flex;
        column-gap: 5px;
        & .customSliderRoundActive {
            margin-top: 5px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: rgb(0, 195, 255);
            cursor: pointer;
        }
        & .customSliderRoundInactive {
            margin-top: 5px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: rgba(128, 128, 128, 0.429);
            cursor: pointer;
        }
    }
}