.navCont {
	display: grid;
	grid-template-columns: 80% 20%;
	grid-auto-rows: minmax(100px, auto);
	font-size: 20px;
	font-family: Nunito;
	& .navBtn {
		background-color: white;
		& .link {
			display: flex;
			justify-content: center;
			& a {
				margin-top: 40px;
			    margin-left: 25px;
		     	color: black;
			    text-decoration: none;
			}
		}
	}
	& .navAvatar {
		background-color: white;
		& .avSelect {
			margin-top: 20px;
		}
		& select {
			border: none;
			outline: none;
			margin-left: 10px;
			& option {
				background-color: rgb(228, 228, 228);
				font-size: 16px;
				padding: 5px;
			}
		}
	}
}
.round {
	border-radius: 100px; /* Радиус скругления */
	border: 3px solid white; /* Параметры рамки */
	box-shadow: 0 0 7px #666; /* Параметры тени */
}
.avatar {
	width: 70px;
	height: 70px;
}
.avatar:hover {
	cursor: pointer;
}

@media screen  and(max-width: 1130px){
	.avatar {
		display: none;
	}
}