.nav {
	display: flex;
	justify-content: flex-end;
	padding-right: 360px;
	& ul {
		list-style: none; 
		display: flex;
		align-items: center;
		width: 425px;
		justify-content: space-between;
		height: 100%;
		margin: 0;
		& .navLink {
			font-family: Nunito;
			font-size: 36px;
			margin-right: 15px; 
			& a {
				color: #ffffff;
				text-decoration: none;
				position: relative;
				&::before {
					content: '';
					height: 4px;
					width: 100%;
					border-radius: 80px;
					background: rgba(61, 178, 255, 0.8);
					position: absolute;
					bottom: 0;
					left: 0;
					-webkit-transition: all 0.3s ease 0s;
					-o-transition: all 0.3s ease 0s;
					transition: all 0.3s ease 0s;
					opacity: 0;
					visibility: hidden;
				}
				&:hover::before {
					bottom: -40px;
					opacity: 1;
					visibility: visible;
				}
			}
			&.activeLink {
				& a {
					&::before {
						content: '';
						height: 4px;
						width: 100%;
						border-radius: 80px;
						background: black;
						position: absolute;
						bottom: -46px;
						left: 0;
						-webkit-transition: all 0.3s ease 0s;
						-o-transition: all 0.3s ease 0s;
						transition: all 0.3s ease 0s;
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}
}
.round {
    border-radius: 100px; /* Радиус скругления */
    border: 3px solid white; /* Параметры рамки */
    box-shadow: 0 0 7px #666; /* Параметры тени */
}
.avatar {
	width: 70px;
	height: 70px;
}
.avatar:hover {
	cursor: pointer;
}
.select {
	color: white;
	font-size: 20px;
	margin-left: 10px;
	background-color: rgba(61, 178, 255, 0.8);
	outline: none;
	border: none;
}
.select:hover {
	cursor: pointer;
}
.option {
	color: white;
	font-size: 20px;
}