.list {
    display: grid;
    row-gap: 10px;
    & .wrapper {
        background-size: 100% 100%;
        border-radius: 5px;
        width: 100%;
        margin-bottom: 10px;
        & .content {
            display: flex;
            column-gap: 10px;
            width: 100%;
            background-color: var(--bg-color-block);
            padding: 10px;
            border-radius: 10px;
            & .image {
                & img {
                    width: 100px;
                    height: 100px;
                    border-radius: 10px;
                }
            }
            & .mainInfo {
                & .eventTitle {
                    font-size: 16px;
                    color: gray;
                }
                & .eventDescription {
                    font-size: 14px;
                }
                & .eventSender {
                    display: flex;
                    font-size: 14px;
                    color: gray;
                    align-items: center;
                    & .eventSenderName {
    
                    }
                    & .eventSenderAvatar {
                        margin-left: 10px;
                        & .avatar {
                            width: 30px;
                            height: 30px;
                            border-radius: 5px;
                        }
                    }
                }
            }
        }
        & .actions {
            display: flex;
            column-gap: 10px;
            & .action {
                font-size: 16px;
                margin-top: 10px;
                border-radius: 5px;
                outline: none;
                border: none;
                background-color: var(--default-color);
            }
            & .action:hover {
                background-color: orange;
                color: black;
            }
        }
    }
}
.warning {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: gray;
}