.modal {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.901);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    & .modalContent {
        font-size: 24px;
        padding: 25px;
        border-radius: 5px;
        width: 33%;
        min-height: 100px;
    }
    & .manageModal {
        & button {
            border-radius: 10px;
            border: none;
            color: white;
            padding: 5px;
            font-size: 15px;
            margin: 1%;
        }
        & .confirmBtn {
            width: 25%;
            min-height: 30px;
            background-color: rgb(15, 129, 223);
        }
        & .cancelBtn {
            width: 25%;
            min-height: 30px;
            background-color: rgb(65, 65, 65);
        }
    }
}

@media screen and (max-width: 1100px){
    .modal {
        & .modalContent {
            margin: 30% auto;
            width: 50%;
        }
    }
}
@media screen and (max-width: 600px){
    .modal {
        & .modalContent {
            margin: 50% auto;
            width: 80%;
            font-size: 18px;
        }
        & .manageModal {
            & .confirmBtn {
                width: 47%;
            }
            & .cancelBtn {
                width: 47%;
            }
        }
    }
}