.chat {
    width: 105px;
    max-height: 105px;
    margin-top: 0.5%;
    display: grid;
    grid-template-rows: 80% 20%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    & .avatar {
        & .round {
            width: 15px;
            height: 15px;
            background-color: rgb(151, 233, 151);
            border-radius: 50%;
            margin-left: 65px;
            margin-top: 65px;
            border: 1px solid white;
        }
        border: 1px solid black;
        border-radius: 50%;
        width: 85px;
        height: 85px;
        background-size: 100% 100%;
    }
    & .name {
        text-align: center;
        font-weight: 400;
        font-size: 14px;
    }
    & .message {
        font-size: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.chat:hover {
    cursor: pointer;
    background-color: rgba($color: grey, $alpha: 0.1);
}

@media screen and (max-width: 405px) {
    .chat {
        margin-right: 2%;
    }
}
@media screen and (max-width: 405px) {
    .chat {
        margin-right: 1.5%;
    }
}