@keyframes smoothOpacity {
    0% {
        opacity: 0;
    }

    99% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.customAccordion {
    background-color: var(--bg-color-block);
    border-radius: 5px;
    cursor: pointer;
    display: grid;

    transition: max-height .5s linear;

    & .customAccordionSubText {
        margin-top: 10px;
        animation: smoothOpacity .25s 1 forwards;
    }
}