@keyframes smoothShown {
    0% {
        height: 0%;
    }

    100% {
        height: 95%;
    }
}

.customAccordion {
    background-color: var(--bg-color-block);
    border-radius: 5px;
    cursor: pointer;
    width: 90%;
    display: grid;

    transition: max-height .8s linear;

    & .customAccordionSubText {
        margin-top: 10px;
        display: -webkit-box;
        -webkit-line-clamp: 10; // количество строк
        -webkit-box-orient: vertical;
        overflow: hidden;

        animation: smoothShown 1s forwards;
    }
}