.formGroup {
    border: 1px solid grey;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    & .inputFileTitle {
        margin-top: 40%;
        font-size: 18px;
    }
    & .inputTypeFile {
        cursor: pointer;
        position: absolute;
        width: 190px;
        height: 190px;
        border-radius: 50%;
        opacity: 0;
        left: 0;
        top: 0;
    }
}

@media screen and (max-width: 767px) {
    .formGroup {
        width: 100px;
        height: 100px;
        & .inputTypeFile {
            width: 100px;
            height: 100px;
        }
    }
}