.interests {
    font-family: Nunito;
    font-size: 20px;
    border: none;
    button {
        border: 2px solid rgb(44, 142, 255);
        outline: none;
        cursor: pointer;
        margin-right: 1%;
        background-color: white;
    }
    
}