.profile {
    width: 100%;
    background-color: rgb(233, 233, 233);
    height: 100vh;
}
.navCol {
    background-color: white;
    color: #000000;
    font-size: 32px;
    height: 570px;
    min-height: 570px;
    font-family:'Courier New', Courier, monospace;
    padding-left: 5%; padding-top: 1%;
}
.bodyCol {
    color: black;
    font-family:'Courier New', Courier, monospace;
    padding-left: 3%;
    padding-top: 3%;
    & .moreInfo { 
        margin-top: 2.5%;
    }
}
.ul {
    list-style: none;
    & li {
        font-family: Nunito;
        font-size: 30px;
        & a {
            text-decoration: none;
            color: black;
            margin-left: 5%;
        }
    }
}
.round {
    border-radius: 50%; /* Радиус скругления */
    border: 1px solid white; /* Параметры рамки */
}
.avatar {
    width: 100%;
    height: 100%;
}
.userInfo {
    font-family: Nunito;
    & .userName {
        color: black;
        font-size: 30px;
    }
    & .status {
        margin-left: 15%;
        padding-left: 10px;
        color: white;
        background-color: rgb(73, 73, 248);
        border-radius: 10px;
        font-size: 20px;
    }
    & .text {
        margin-top: 2.5%;
        font-size: 20px;
    }
    & .actionsBtn {
        width: 200px;
        height: 35px;
        margin-left: 10%;
        border: none;
        font-size: 20px;
        border-radius: 20px;
        margin-top: 10%;
        padding-left: 10px;
        color: white;
        background-color: rgb(91, 91, 255);
    }
}