.customEditMenu {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 10px;
    display: grid;
    row-gap: 5px;
    cursor: pointer;
    font-size: 18px;
    font-family: Nunito;
    & .round {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: gray;
    }
    & .content {
        background-color: var(--bg-color);
        border: 1px solid gray;
        padding: 5px;
        position: absolute;
        top: 38px;
        right: 0px;
        min-height: 30px;
        width: 170px;
        & .menuElement {
            padding: 1px;
        }
        & .menuElement:hover {
            background-color: rgba(222, 222, 222, 0.455);
        }
    }
}

@media screen and (max-width: 1560px) {
    .customEditMenu {
        font-size: 16px;
    }
}