.customEditMenu {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 10px;
    display: grid;
    row-gap: 5px;
    cursor: pointer;
    font-size: 14px;
    font-family: Nunito;
    & .round {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: gray;
    }
    & .content {
        border-radius: 5px;
        background-color: var(--bg-color);
        border: 1px solid gray;
        padding: 5px;
        position: absolute;
        top: 38px;
        right: 0px;
        min-height: 30px;
        min-width: 170px;
        & .menuElement {
            white-space: nowrap;
            min-width: 170px;
            padding: 2px;
            border-radius: 5px;
        }
        & .menuElement:hover {
            background-color: rgba(222, 222, 222, 0.455);
        }
    }
}