.emojiList {
    padding: 10px;
    width: 250px;
    height: 120px;
    border: 1px solid rgba(128, 128, 128, 0.374);
    overflow-y: scroll;
    border-radius: 5px;
    background-color: var(--bg-color);
    & .defaultEmojiInList:hover {
        cursor: pointer;
    }
    & .defaultEmojiInList {
        font-size: 22px;
        float: left;
    }
}

@media screen and (max-width: 600px) {
    .emojiList { 
        float: right;
    }
}
@media screen and (max-width: 810px) {
    .emojiList { 
        width: 220px;
    }
}