.statsView {
    display: grid;
    row-gap: 10px;
    & .composition {
        display: flex;
        column-gap: 10px;
        & .image {
            width: 50px;
            height: 50px;
            border-radius: 5px;
        }
        & .info {
            font-size: 14px;
            display: grid;
            row-gap: 5px;
            & .author {
                color: rgb(255, 212, 133);
            }
            & .title {
                & .header {
                    color: var(--default-color)
                }
            }
        }
    }
}

.noStatsView {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100%;
}