.meetingsRoom {
    display: grid;
    row-gap: 15px;
    text-align: justify;
    width: 98%;
    & .topContent {
        display: grid;
        grid-template-columns: 200px calc(98% - 200px);
        column-gap: 20px;
        & .mainInfo {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            align-items: center;
            justify-content: center;
            justify-items: center;
            & .photo {
                border-radius: 10%;
            }
            & .title {
                font-size: 19px;
                text-align: center;
            }
        }
        & .moreInfo {
            display: grid;
            row-gap: 15px;
            margin-top: 20px;
            & .activityBar {
                display: flex;
                align-items: center;
            }
            & .addMember {
                display: flex;
                justify-content: center;
                background-color: transparent;
                font-size: 16px;
                border-radius: 3px;
                padding: 0;
                max-width: 180px;
                &:hover {
                    border-color: var(--default-color);
                }
            }
            & .tags {
                font-size: 16px;
            }
            & .members {
                margin-top: 10px;
                display: flex;
                column-gap: 10px;
                & .list {
                    display: flex;
                    column-gap: 10px;
                    & .user {
                        display: grid;
                        justify-content: center;
                        justify-items: center;
                        & .avatar {
                            width: 50px;
                            height: 50px;
                            & img {
                                cursor: pointer;
                                border-radius: 10px;
                            }
                        }
                        & .name {
                            text-align: center;
                            font-size: 14px;
                        }
                    }
                }
                font-size: 18px;
            }
            & .dates {
                font-size: 15px;
            }
            & .description {
                font-size: 16px;
            }
        }
    }
    & .bottomContent {
        display: grid;
        row-gap: 10px;
        & .mediaInfo {
            & .title {
                cursor: pointer;
                font-size: 16px;
                & .text {
                    color: rgb(88, 180, 255);
                }
                & .loadMeetingMediaFile {
                    display: none;
                }
            }
            & .content {
                display: flex;
                flex-wrap: wrap;
                column-gap: 10px;
                padding-top: 5px;
                padding-bottom: 5px;
                row-gap: 5px;
                & .message {
                    font-size: 16px;
                    color: gray;
                }
                & .moreMedia {
                    font-size: 16px;
                    display: flex;
                    align-items: center;
                    cursor: pointer;    
                }
                & .moreMedia:hover {
                    color: orange;  
                }
                & img {
                    width: 120px;
                    height: 120px;
                    cursor: pointer;
                    border-radius: 10px;
                }
                & video {
                    width: 120px;
                    height: 100px;
                }
            }
        }
        & .commentsInfo {
            width: 98%;
            & .title {
                font-size: 16px;
                & .text {
                    color: rgb(88, 180, 255);
                }
            }
            & .content {
                display: grid;
                grid-auto-rows: auto;
                height: auto;
                gap: 20px;

                column-gap: 10px;
                row-gap: 10px;
                width: 100%;
                margin-top: 10px;
                margin-bottom: 10px;
                & .message {
                    width: 100%;
                    font-size: 16px;
                    color: gray;
                }
                & .comment {
                    min-width: 300px;
                    padding: 10px;
                    background-color: var(--bg-color-block);
                    display: grid;
                    word-break: break-all;
                    border-radius: 5px;
                    grid-template-columns: 80px calc(100% - 100px);
                    column-gap: 10px;
                    & .userInfo {
                        display: grid;
                        justify-items: center;
                        & .avatar {
                            & img {
                                border-radius: 10px;
                                width: 40px;
                                height: 40px;
                            }
                        }
                        & .name {
                            text-align: center;
                            font-size: 14px;
                        }
                    }
                    & .commentContent {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .meetingsRoom {
        & .topContent {
            display: grid;
            grid-template-columns: 1fr;
        }
    }
}

@media screen and (max-width: 400px) {
    .meetingsRoom {
        & .bottomContent {
            & .mediaInfo {
                & .content {
                    & img {
                        width: 48%;
                    }
                    & video {
                        width: 48%;
                    }
                }
            }
        }
    }
}