.profile {
    height: 100vh;
    font-family: Nunito;
}
.navCol {
    font-size: 32px;
    height: 570px;
    font-family:'Courier New', Courier, monospace;
    padding-top: 1%;
}
.bodyCol {
    font-family:'Courier New', Courier, monospace;
    display: grid;
    grid-template-columns: 98%;
    & .block {
        min-height: 50px;
        padding: 2%;
        margin-bottom: 2.5%;
        box-shadow:  1px 1px 5px rgba(154, 147, 140, 0.3), 1px 1px 5px rgba(154, 147, 140, 0.3);
    }
    & .mainBlock {
        display: grid;
        grid-template-columns: 30% 70%;
        & .bodyInfo {
            & .avatar {
                border-radius: 50%; /* Радиус скругления */
                border: 1px solid grey; /* Параметры рамки */
                width: 190px;
                height: 190px;
            }
        }
        & .userInfo {
            display: grid;
            grid-template-columns: 1fr;
            font-family: Nunito;
            & .town {
                font-size: 16px;
                color: grey; 
            }
            & .userName {
                font-size: 36px;
            }
            & .status {
                padding-left: 10px;
                background-color: rgb(73, 73, 248);
                border-radius: 10px;
                font-size: 20px;
                max-height: 60px;
            }
            & .text {
                margin-top: 2.5%;
                font-size: 24px;
            }
            & .actionsBtn {
                width: 180px;
                height: 45px;
                margin-left: 1%;
                border: none;
                font-size: 20px;
                border-radius: 20px;
                margin-top: 5%;
                padding-left: 10px;
                background: #3DB2FF;
                color: white;
            }
        }
    }
    & .moreInfo { 
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 15px;
        & .interests {
            padding: 4%;
        }
        & .places {
            padding: 4%;
        }
    }
    & .addingPosts {
        margin-top: 5px;
        margin-bottom: 5px;
        & button {
            font-family: Nunito;
            font-size: 15px;
            height: 40px;
            background-color: #3DB2FF;
            outline: none;
            border: none;
            color: white;
            font-weight: 700;
        }
    }
    & .postsList {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 1180px) {
    .userInfo { 
        & .actionsBtn {
            margin-top: 5%;
        }
    }
}
@media screen and (max-width: 767px) {
    .navCol {
        min-height: 50px;
    }
    .profile {
        & .bodyCol {
            & .mainBlock {
                grid-template-columns: 1fr;
                & .bodyInfo {
                    display: grid;
                    justify-content: center;
                    justify-items: center;
                    & .avatar {
                        width: 100px;
                        height: 100px;
                    }
                } 
            }
            
        }
    }
    .userInfo {
        & .actionsBtn {
            margin-top: 2.5%;
            margin-left: 25%;
        }
        & .actions {
            display: grid;
            flex-direction: column;
            justify-content: center;
            justify-items: center;
        }
    }
}