@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.header {
	min-height: 60px;
	display: grid;
	align-items: center;
	grid-template-columns: 50px calc(100% - 50px);
	justify-content: center;
	max-width: 1100px;
	width: 100%;
	background-color: var(--bg-color-block);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-sizing: border-box;
	padding: 10px;
	& .logo {
		max-height: 60px;
		display: flex;
		align-items: center;
		cursor: pointer;
	}
}
