.completedMeetings {
    & .title {
        justify-content: center;
        display: flex;
        align-items: center;
        font-size: 14px;
    }
    & .meetingsList {
        display: grid;
        row-gap: 10px;
        margin-top: 10px;
    }
}