.list {
    display: grid;
    row-gap: 10px;
    .wrapper {
        display: grid;
        grid-template-columns: 100px calc(100% - 145px) 25px;
        gap: 10px;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 5px;
        background-color: var(--bg-color-block);
        & .image {
            width: 100%;
        }
        & .info {
            display: flex;
            flex-direction: column;
            gap: 5px;
            & .title {
                font-size: 14px;
            }
            & .persons {
                font-size: 12px;
            }
        }
        & .actions {
            display: flex;
            gap: 5px;
            align-items: center;
            cursor: pointer;
        }
    }
}

.warning {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: gray;
    text-align: center;
    font-size: 14px;
    background-color: var(--bg-color-block);
    border-radius: 10px;
}
