@keyframes showUp {
    from {
        margin-left: -250px;
    } to {
        margin-left: 0px;
    }
}
.mobileMenu {
    & .mobileMenuWrapper {
        position: fixed;
        z-index: 11;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.699);
        & .mobileMenuWrapperShown {
            width: 250px;
            height: 100%;
            background-color: var(--bg-color-mobile-menu);
            animation: showUp 0.5s forwards;
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            font-size: 24px;
            padding: 15px;
            position: relative;
            align-items: center;
            & .logoWrapper {
                width: 100%;
                display: grid;
                justify-items: left;
            }
            & .leftNavMenu {
                margin-top: 30px;
            }
            & .exitIcon {
                position: absolute;
                right: 10px;
                bottom: 10px;
                & .exitTitle {
                    font-size: 20px;
                }
            }
        }
    }
}