.link {
	display: grid;
	grid-template-columns: calc(100% - 300px) 300px;
	& .navBlock {
		font-family: Nunito;
		display: flex;
		flex-wrap: wrap;
		column-gap: 3%;
		justify-content: center;
		align-items: center;
		justify-items: center;
		& a {
			text-decoration: none;
			font-size: 20px;
		}
		& a:hover {
			color: var(--default-color);
		}
	}
	& .userBlock {
		display: flex;
		justify-content: right;
		align-items: center;
		column-gap: 10px;
		& .customSelect {
			border: none;
			cursor: pointer;
			outline: none;
			& option {
				outline: none;
				font-family: Nunito;
				padding: 5px;
			}
		}
		& .round {
			cursor: pointer;
			border-radius: 50%;
			border-radius: 100px;
			border: 3px solid white;
			box-shadow: 0 0 7px #666;
		} 
	}
}

@media screen  and (max-width: 1720px){
	.link {
		& .navBlock {
			font-size: 26px;
		}
	}
}
@media screen  and (max-width: 1340px){
	.link {
		& .navBlock {
			font-size: 24px;
		}
	}
}
@media screen  and (max-width: 1210px){
	.link {
		& .navBlock {
			font-size: 22px;
		}
	}
}

@media screen  and (max-width: 890px){
	.link {
		grid-template-columns: 1fr;
		row-gap: 10px;
		& .navBlock {
			justify-content: center;
		}
		& .userBlock {
			& .customSelect {
				font-size: 18px;
				& option {
					font-size: 14px;
				}
			}
		}
	}
}
@media screen and (max-width: 405px){
	.link {
		& .navBlock {
			a {
				font-size: 20px;
			}
		}
	}
}
@media screen and (max-width: 380px){
	.link {
		& .navBlock {
			a {
				font-size: 19px;
			}
		}
	}
}
@media screen and (max-width: 360px){
	.link {
		& .navBlock {
			a {
				font-size: 18px;
			}
		}
	}
}
@media screen and (max-width: 350px){
	.link {
		& .navBlock {
			a {
				font-size: 17px;
			}
		}
	}
}