.settings {
    width: 100%;
    min-height: 100%;
    font-family: Nunito;
    font-size: 18px;
    padding-bottom: 5px;
    & .settingsMenus {
        display: grid;
        grid-template-columns: 20% 80%;
    }
    & .menu {
        height: 570px;
        font-size: 26px;
        padding-top: 1%;
        padding-left: 10%;
        & a {
            text-decoration: none;
            font-family: Nunito;
        }
    }
    & .formAndInfo {
        font-size: 20px;
        padding-top: 1%;
        font-family: Nunito;
        h4 {
            padding: 5px;
            width: 96%;
        }
        & .locale {
            cursor: pointer;
            & .locales {
                display: flex;
                column-gap: 15px;
                & .localeImg {
                    width: 60px;
                    height: 50px;
                }
            }
        }
        & .themes {
            margin-top: 10px;
            cursor: pointer;
            & .swipeTheme {
                background-color: transparent;
                border-radius: 5px;
                margin-right: 5px;
            }
            & .swipeTheme:hover {
                background-color: rgb(255, 208, 0);
            }
        }
        & .info {
            margin-top: 10px;
        }
        & .management {
            margin-top: 10px;
            & .description {
                font-size: 16px;
                margin-top: 2px;
            }
            & .updateSatus {
                color: green;
                background-color: rgba(65, 223, 86, 0.3);
                padding: 5px;
                width: 50%;
                margin-top: 2px;
            }
        }
        & .infoText {
            margin-top: 5px;
        }
    }
    & .deleteBtn {
        margin-top: 2px;
        background-color: rgb(46, 52, 53);
        border-radius: 5px;
        color: white;
    }
}


@media screen and (max-width: 600px) {
    .settings {
        & .settingsMenus {
            grid-template-columns: 100%;
        }
        & .menu {
            padding-left: 3%;
            display: flex;
            column-gap: 15px;
            height: 50px;
            font-size: 24px;
        }
        & .formAndInfo {
            padding-left: 3%;
            & .info {
                & label {
                    display: inline;
                    width: 95%;
                    margin-top: 10%;
                    margin-left: 1%;
                    font-size: 20px;
                }
                & input {
                    display: inline;
                    width: 95%;
                    margin-left: 1%;
                    font-size: 18px;
                }
            }
            & .management {
                & .manageAcc {
                    & label {
                        display: inline;
                        width: 95%;
                        margin-top: 10%;
                        margin-left: 1%;
                        font-size: 20px;
                    }
                    & input {
                        display: inline;
                        width: 95%;
                        margin-left: 1%;
                        font-size: 18px;
                    } 
                }
            }
        }
    }
}