.settings {
    width: 100%;
    height: 100vh;
    color: black;
    font-family: Nunito;
    & .menu {
        height: 570px;
        font-size: 26px;
        padding-top: 1%;
        padding-left: 8%;
        & a {
            text-decoration: none;
            color: black;
            font-family: Nunito;
        }
    }
    & .formAndInfo {
        background-color: white;
        font-size: 20px;
        padding-top: 1%;
        padding-left: 8%;
        font-family: Nunito;
        height: 100vh;
        overflow-y: scroll;
        & .spanError {
            color: red;
            font-size: 12px;
        }
        h5 {
            padding: 5px;
            background-color: rgb(240, 240, 240);
        }
        & .info {
            & label {
                display: inline-block;
                width: 200px;
                margin-top: 2.5%;
                font-size: 16px;
            }
            & input {
                display: inline;
                margin-top: 2.5%;
                font-size: 18px;
            }
            & input::-webkit-input-placeholder {color:black;}
        }
        & .management {
            margin-top: 5%;
            & .manageAcc {
                & label {
                    display: inline-block;
                    width: 200px;
                    margin-top: 2.5%;
                    font-size: 16px;
                }
                & input {
                    display: inline;
                    margin-top: 2.5%;
                    font-size: 18px;
                }
                & input::-webkit-input-placeholder {color:black;}
            }
            & .description {
                font-size: 16px;
                margin-top: 1%;
            }
            & .saveButton {
                margin-top: 1%;
                border: none;
                background-color: rgb(108, 154, 238);
                color: white;
                padding: 5px;
            }
            & .updateSatus {
                color: green;
                background-color: rgba(65, 223, 86, 0.3);
                padding: 5px;
                width: 50%;
                margin-top: 1%;
            }
            & .saveButton:hover {
                border: 2px solid green;
                transition: 0.5s;
            }
        }
    }
}




@media screen and(max-width: 600px) {
    .settings {
        & .menu {
            height: 100px;
            font-size: 32px;
            padding-top: 1%;
            padding-left: 8%;
        }
        & .formAndInfo {
            & .info {
                & label {
                    display: inline;
                    width: 90%;
                    margin-top: 10%;
                    margin-left: 1%;
                    font-size: 20px;
                }
                & input {
                    display: inline;
                    width: 90%;
                    margin-top: 2.5%;
                    margin-left: 1%;
                    font-size: 18px;
                }
            }
            & .management {
                & .manageAcc {
                    & label {
                        display: inline;
                        width: 90%;
                        margin-top: 10%;
                        margin-left: 1%;
                        font-size: 20px;
                    }
                    & input {
                        display: inline;
                        width: 90%;
                        margin-top: 2.5%;
                        margin-left: 1%;
                        font-size: 18px;
                    } 
                }
            }
        }
    }
}