.eventBlockContent {
    & .eventBlockTitle {
        font-size: 18px;
        margin-bottom: 15px;
        background-color: rgb(224, 251, 253);
        padding: 10px;
        margin-top: 15px;
    }
    & .eventBlockMainInfo {
        display: grid;
        grid-template-columns: 30% 70%;
        & .image {

        }
        & .help {
            font-size: 18px;
            margin-top: 15px;
        }
    }
}

@media screen and (max-width: 460px) {
    .eventBlockContent {
        & .eventBlockTitle {
            text-align: center;
        }
        & .eventBlockMainInfo {
            text-align: center;
            align-items: center;
            justify-content: center;
            grid-template-columns: 100%;
        }
    }
}