.eventBlockContent {
    & .eventBlockTitle {
        font-size: 18px;
        margin-bottom: 15px;
        background-color: rgb(224, 251, 253);
        padding: 10px;
        margin-top: 15px;
    }
    & .eventBlockMainInfo {
        display: grid;
        grid-template-columns: 30% 70%;
        & .image {

        }
        & .help {
            font-size: 18px;
            margin-top: 15px;
            & .actions {
                button {
                    background-color: #3DB2FF;
                    color: white;
                    width: 49%;
                    margin-right: 0.5%;
                    border: none;
                    border-radius: 5px;
                }
                button:hover {
                    background-color: rgb(255, 197, 88);
                    color: black;
                }
            }
        }
    }
}

@media screen and (max-width: 1320px) {
    .eventBlockContent {
        & .eventBlockTitle {
            text-align: center;
        }
        & .eventBlockMainInfo {
            text-align: center;
            align-items: center;
            justify-content: center;
            grid-template-columns: 100%;
        }
    }
}