.formContainer {
    & label {
        display: inline-block;
        width: 100%;
        margin-top: 10px;
        font-size: 17px;
    }
    & input {
        display: inline;
        margin-top: 10px;
        font-size: 15px;
        width: 100%;
        max-width: 700px;
        height: 50px;
        border-radius: 5px;
        border: 1px solid gray;
    }
    & input[type='file'] {
        border: none;
    }
    & input[type='color'] {
        border: none;
        outline: none;
    }
    & textarea {
        margin-top: 10px;
        width: 100%;
        max-width: 700px;
        resize: none;
        border-radius: 5px;
        min-height: 80px;
        font-size: 15px;
    }
    & button {
        margin-top: 10px;
        border: none;
        min-width: 150px;
        height: 40px;
        border-radius: 5px;
        background-color: var(--default-color);
        color: white;
        padding: 5px;
    }
    & button:hover {
        background-color: orange;
        color: black;
    }
    & span {
        color: red;
        font-size: 14px;
    }

    & select {
        width: 100%;
        padding: 5px;
        border: 1px solid gray;
        border-radius: 5px;
        cursor: pointer;
        outline: none;
    }
}

@media screen and (max-width: 600px){
    .info {
        & label {
            font-size: 16px;
        }
    }
}