.emoji {
    cursor: pointer;
    position: relative;
    & .defaultEmoji {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-items: center;
        font-size: 22px;
        color: white;
    }
    & .emojiListWrapper {
        position: absolute;
        top: -130px;
        left: -145px;
    }
}

@media screen and (max-width: 810px) {
    .emoji {
        & .emojiListWrapper {
            left: -135px;
        }
    }
}
@media screen and (max-width: 600px) {
    .emoji {
        & .emojiListWrapper {
            left: -135px;
        }
    }
}