.nav {
    display: flex;
    align-items: center;
    column-gap: 15px;
    width: 100%;
    & .elem {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-items: center;
        & .menuElem {
            position: relative;
            & .round {
                position: absolute;
                z-index: 10;
                top: -28px;
                right: -4px;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: rgb(137, 255, 27);
            }
        }
    }
}