.list {
    width: 100%;
    & .eventBody {
        width: 99%;
        min-height: 350px;
        border: 1px solid black;
        margin-top: 20px;
        margin-left: 1%;
        float: left;
        border-radius: 15px;
        & .eventTitle {
            text-align: center;
            border-radius: 15px;
            color: white;
            font-weight: 700;
            font-size: 24px;
            background-color: black ;
        }
        & .eventDescription {
            color: white;
        }
    }
    & .eventBody:hover {
        cursor: pointer;
    }
}