.list {
    display: grid;
    grid-template-columns: 1fr;
    & .eventBody {
        display: grid;
        grid-template-columns: 4fr 8fr;
        min-height: 150px;
        margin-top: 20px;
        margin-left: 1%;
        float: left;
        & .eventViewZone {
            font-weight: 700;
            text-align: center;
        }
        & .eventDescription {
            text-align: center;
            & .free {
                border: none;
                background-color: rgba(43, 255, 43, 0.697);
            }
            & .notFree {
                border: none;
                background-color: rgba(59, 160, 255, 0.825);
            }
        }
    }
    & .eventBody:hover {
        cursor: pointer;
    }
}

@media screen and (max-width: 600px) {
    .list {
        & .eventBody {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
        }
    }
}