.form {
    font-size: 15px;
    display: flex;
    & input {
        width: 65%;
        min-height: 40px;
        margin-right: 1%;
        border-radius: 10px;
        margin-bottom: 1%;
        outline: none;
    }
    & button {
        width: 20%;
        min-height: 40px;
        outline: none;
        border: none;
        padding: 5px;
        color: white;
        background-color: #3DB2FF;
        border-radius: 10px;
        margin-bottom: 1%;
    }
}

@media screen and (max-width: 425px){
    .form {
        font-size: 13px;
        & button {
            font-size: 13px;
        }
    }
}