.form {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    & .formInput {
        padding-left: 5px;
        padding-right: 5px;
        display: flex;
        column-gap: 5px;
        align-items: center;
        width: 100%;
        border: 1px solid #3DB2FF;
        height: 50px;
        border-radius: 5px;
        & input {
            width: 100%;
            border: none;
            outline: none;
        }
        & .fileInput {
            position: relative;
            & input[type='file'] {
                left: 0;
                position: absolute;
                opacity: 0;
            }
        }
        & .fileInputBlocked {
            position: relative;
            opacity: 0.5;
            & input[type='file'] {
                left: 0;
                position: absolute;
                opacity: 0;
            }
        }
    }
    & button {
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        width: 20%;
        height: 30px;
        outline: none;
        border: none;
        padding: 5px;
        color: white;
        background-color: #3DB2FF;
        border-radius: 5px;
    }
    & button:disabled {
        background-color: #56667043;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

.loader {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid rgb(244, 244, 244);
    border-left-color: transparent;
    border-right-color: transparent;
    animation: rotate 1.5s infinite;
}
@media screen and (max-height: 940px){
    .form {
        font-size: 18px;
    }
}
@media screen and (max-height: 840px){
    .form {
        font-size: 16px;
    }
}

@media screen and (max-width: 600px){
    .form {
        & .formInput {
            & input {
                width: 80%;
            }
        }
    }
}
@media screen and (max-width: 500px){
    .form {
        & .formInput {
            & input {
                width: 70%;
            }
        }
    }
}