.defaultTitle {
    font-size: 15px;
    font-weight: 600;
}
.groupsListView {
    padding-bottom: 20px;
    width: 98%;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    & .groupsFilters {
        & .title {
            text-overflow: ellipsis;
            @extend .defaultTitle;
            color: gray;
        }   
        & .option {
            font-size: 15px;
            float: right;
            cursor: pointer;
            color: var(--text-color);
            margin-left: 5px;
        }
        & .option:hover {
            color: var(--default-color);
        }
    }
    & .groupsContent {
        & .title {
            @extend .defaultTitle
        }
        & .list {
            display: grid;
            row-gap: 10px;
            & .group {
                border-radius: 5px;
                background-color: var(--bg-color-block);
                display: grid;
                grid-template-columns: 90px calc(100% - 90px);
                padding-left: 5px;
                padding-top: 10px;
                padding-bottom: 10px;
                & .image {
                    width: 80px;
                    height: 80px;
                    & img {
                        width: 80px;
                        height: 80px;
                        border-radius: 50%;
                        border: 1px solid gray;
                    }
                }
                & .info {
                    display: grid;
                    grid-template-columns: 1fr;
                    row-gap: 10px;
                    font-size: 15px;
                    font-weight: 500;
                    & .name {
                        font-weight: 600;
                        color: var(--default-color);
                    }
                    & .type {
                        
                    }
                    & .followers {
                        display: grid;
                        align-items: center;
                        grid-template-columns: 130px calc(100% - 150px);
                        column-gap: 5px;
                        & .actions {
                            display: flex;
                            justify-items: right;
                            justify-content: right;
                            padding: 0px;
                            margin-right: 15px;
                            column-gap: 5px;
                            & button {
                                font-weight: 500;
                                padding: 0px;
                                max-width: 150px;
                                font-size: 16px;
                                border: none;
                                background-color: transparent;
                                border-radius: 100px;
                            }
                            & button:hover {
                                color: var(--default-color);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .groupsListView {
        & .groupsContent {
            & .list {
                & .group {
                    column-gap: 5px;
                    grid-template-columns: 70px calc(100% - 70px);
                    & .image {
                        & img {
                            width: 70px;
                            height: 70px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 470px) {
    .groupsListView {
        & .groupsContent {
            & .list {
                & .group {
                    column-gap: 5px;
                    grid-template-columns: 70px calc(100% - 70px);
                    & .image {
                        & img {
                            width: 70px;
                            height: 70px;
                        }
                    }
                    & .info {
                        & .followers {
                            display: grid;
                            grid-template-columns: 1fr;
                            & .actions {
                                margin-top: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}