.eachFilterListElem {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 50px;
    font-size: 18px;
    padding-left: 10px;
}

.eachFilterBlock {
    background-color: var(--bg-color-block);
    border-radius: 15px;
    padding: 15px;
    height: 400px; 
}

.eachFilterListBlock {
    display: grid;
    row-gap: 10px;
    max-height: 320px; 
    overflow-y: scroll;
    overflow-x: hidden;
}

.eachElemListButtonHover {
    cursor: pointer;
    background-color: var(--default-color);
    border-radius: 5px;
}

.searching {
    display: grid;
    grid-auto-rows: min-content;
    & .params {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 5px;
        row-gap: 5px;
        & .gender {
            @extend .eachFilterBlock; 
            & button {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                border: 1px solid var(--default-color);
                background-color: transparent;
                margin-right: 5%;
            }
            & button:hover {
                transition: 0.5s;
                @extend .eachElemListButtonHover;
            }
            & .part {
                margin-bottom: 10%;
            }
        }
        & .goal {
            @extend .eachFilterBlock; 
            & .list {
                @extend .eachFilterListBlock;
            }
            & .eachGoal {
                @extend .eachFilterListElem;
            }
            & .eachGoal:hover {
                @extend .eachElemListButtonHover;
            }
        }

        & .events {
            @extend .eachFilterBlock; 
            & .list {
                @extend .eachFilterListBlock;
            }
            & .eachEvent {
                @extend .eachFilterListElem;
            }
            & .eachEvent:hover {
                @extend .eachElemListButtonHover;
            }
            & .warning {
                color: gray;
                font-size: 18px
            }
        }

        & .interests {
            @extend .eachFilterBlock; 
            & .list {
                @extend .eachFilterListBlock;
            }
            & .eachPopular {
                @extend .eachFilterListElem;
            }
            & .eachPopular:hover {
                @extend .eachElemListButtonHover;
            }
        }
    }
    & .result {
        padding-top: 20px;
        & .showAllBtn {
            border: none;
            background-color: var(--default-color);
            border-radius: 10px;
        }
        & .users {
            & .usersList {
                display: flex;
                flex-direction: column;
                row-gap: 5px;
                text-align: center;
            }
        }
    }
}
@media screen and (max-width: 1105px) {
    .searching {
        & .params {
            grid-template-columns: 49% 49%;
        }
    }
}
@media screen and (max-width: 505px) {
    .searching {
        & .params {
            font-size: 15px;
        }
    }
    .eachFilterListElem {
        font-size: 16px;
        padding-left: 5px;
    }
}