.searching {
    display: grid;
    grid-auto-rows: min-content;
    & .params {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 5px;
        row-gap: 5px;
        & .gender {
            //border-right: 1px solid grey;
            background-color: var(--bg-color-block);
            border-radius: 15px;
            padding: 20px;
            height: 400px; 
            & button {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                border: 1px solid #3DB2FF;
                background-color: transparent;
                margin-right: 5%;
            }
            & button:hover {
                cursor: pointer;
                background-color: #3DB2FF;
            }
            & .part {
                margin-bottom: 10%;
            }
        }
        & .goal {
            //border-right: 1px solid grey;
            background-color: var(--bg-color-block);
            border-radius: 15px;
            padding: 20px;
            height: 400px; 
            & .list {
                max-height: 300px; 
                overflow-y: scroll;
                overflow-x: hidden;
            }
            & .eachGoal {
                display: flex;
                align-items: center;
                width: 100%;
                height: 50px;
                font-size: 18px;
                padding-left: 5%;
            }
            & .eachGoal:hover {
                cursor: pointer;
                background-color: #3DB2FF;
            }
        }

        & .events {
            //border-right: 1px solid grey;
            background-color: var(--bg-color-block);
            border-radius: 15px;
            padding: 20px;
            height: 400px; 
            & .list {
                display: grid;
                row-gap: 20px;
                max-height: 300px; 
                overflow-y: scroll;
                overflow-x: hidden;
            }
            & .eachEvent {
                font-size: 18px;
                padding-left: 5%;
            }
            & .eachEvent:hover {
                cursor: pointer;
                background-color: #3DB2FF;
            }
        }

        & .interests {
            background-color: var(--bg-color-block);
            border-radius: 15px;
            //border-right: 1px solid grey;
            padding: 20px;
            height: 400px; 
            & .list {
                max-height: 300px; 
                overflow-y: scroll;
                overflow-x: hidden;
            }
            & .eachPopular {
                width: 100%;
                height: 50px;
                padding-left: 5%;
                font-size: 18px;
                display: flex;
                align-items: center;
            }
            & .eachPopular:hover {
                cursor: pointer;
                background-color: #3DB2FF;
            }
        }
    }
    & .result {
        padding-top: 20px;
        & .showAllBtn {
            border: none;
            background-color: #3DB2FF;
            border-radius: 10px;
        }
        & .users {
            & .usersList {
                display: flex;
                flex-direction: column;
                row-gap: 5px;
                text-align: center;
            }
        }
    }
}
@media screen and (max-width: 1105px) {
    .searching {
        & .params {
            grid-template-columns: 50% 50%;
        }
    }
}
@media screen and (max-width: 505px) {
    .searching {
        & .params {
            font-size: 15px;
        }
    }
}