.markedEventInfo {
    width: 300px;
    min-height: 300px;
    border-radius: 5px;
    background-color: var(--bg-color-block);
    padding: 20px;
    & .markedEventInfoContent {
        & .image {
            display: flex;
            justify-content: center;
            & img {
                width: 270px;
                height: 270px;
                border-radius: 5px;
            }
        }
        & .name {
            font-size: 13px;
        }
        & .actions {
            display: flex;
            column-gap: 5px;
            button {
                font-size: 13px;
                background-color: #3DB2FF;
                color: white;
                width: 49%;
                border: none;
                border-radius: 5px;
            }
            button:hover {
                background-color: rgb(255, 197, 88);
                color: black;
            }
        }
    }
    & .markedEventInfoContent:hover {
        cursor: pointer;
    }
}

@keyframes rotateMini {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
        border-bottom-color: rgb(0, 153, 255);
    }
}