.markedEventInfo {
    float: left;
    width: 300px;
    min-height: 300px;
    border-radius: 5px;
    margin-right: 20px;
    margin-top: 15px;
    & .markedEventInfoContent {
        & .image {
            padding: 5px;
        }
        & .name {
            font-size: 13px;
        }
        & .actions {
            button {
                font-size: 13px;
                background-color: #3DB2FF;
                color: white;
                width: 49%;
                margin-right: 0.5%;
                border: none;
                border-radius: 5px;
            }
            button:hover {
                background-color: rgb(255, 197, 88);
                color: black;
            }
        }
    }
    & .markedEventInfoContent:hover {
        cursor: pointer;
    }
}

@keyframes rotateMini {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
        border-bottom-color: rgb(0, 153, 255);
    }
}