.cropperContent {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    & .cropImage {
        & img {
            max-height: 300px;
            max-width: 300px;
        }
    }
    & button {
        background-color: var(--default-color);
        height: 30px;
        border-radius: 5px;
        border: none;
        outline: none;
    }
    & button:hover {
        background-color: orange;
        color: black;
    }
}