.emoji {
    cursor: pointer;
    position: relative;
    & .emojiListWrapper {
        position: absolute;
        top: -130px;
        left: -145px;
    }
}

@media screen and (max-width: 810px) {
    .emoji {
        & .emojiListWrapper {
            left: -135px;
        }
    }
}
@media screen and (max-width: 600px) {
    .emoji {
        & .emojiListWrapper {
            left: -135px;
        }
    }
}