.customLoaderWrapper {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    & .customLoader {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 3px solid rgb(0, 153, 255);
        border-left-color: transparent;
        border-right-color: transparent;
        animation: rotate 1.5s infinite;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}