.places {
    font-family: Nunito;
    font-size: 20px;
    & .title {
        display: flex;
        align-items: center;
        column-gap: 10px;
        margin-bottom: 10px;
    }
    & .list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 5px;
        row-gap: 5px;
        font-size: 20px;
        & .item {
            padding: 2px;
            border: 2px solid rgb(102, 0, 128);
            border-radius: 10px;
            float: left;
        }
    }
}
.hint {
    font-family: Nunito;
    color: gray;
    font-size: 18px;
}
@media screen and (max-width: 1720px) {
    .places {
        & .title {
            font-size: 19px;
        }
        & .list {
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 380px) {
    .places {
        & .list {
            font-size: 15px;
        }
    }
}
@media screen and (max-width: 380px) {
    .places {
        & .list {
            font-size: 14px;
        }
    }
}
@media screen and (max-width: 350px) {
    .places {
        & .list {
            font-size: 12px;
        }
        & .title {
            font-size: 17px;
        }
    }
}