.customEditMenu {
    display: grid;
    row-gap: 5px;
    cursor: pointer;
    font-size: 14px;
    font-family: Nunito;
    direction: rtl;

    & .round {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: gray;
    }

    & .content {
        border-radius: 5px;
        background-color: var(--bg-color);
        border: 1px solid gray;
        padding: 5px;
        position: absolute;
        z-index: 100;
        margin-top: 35px;
        direction: ltr;

        & .menuElement {
            white-space: nowrap;
            min-width: 170px;
            padding: 2px;
            border-radius: 5px;
        }

        & .menuElement:hover {
            background-color: rgba(222, 222, 222, 0.455);
        }
    }
}