@keyframes showUp {
    from {
        margin-left: 240px;
    }

    to {
        margin-left: -20px;
    }
}

@keyframes hide {
    from {
        margin-left: -20px;
    }

    to {
        margin-left: 240px;
    }
}

.eachError {
    background-color: var(--bg-color-block);
    color: var(--text-color);
    padding: 5px;
    border-radius: 3px;
    display: grid;
    grid-template-columns: 30px calc(100% - 30px);
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-top: 5px;
    width: 100%;
    min-height: 30px;
    font-size: 14px;
    position: relative;
}

.errorShowUp {
    @extend .eachError;
    animation: showUp 1s;
    animation-fill-mode: forwards;
}

.errorHide {
    @extend .eachError;
    animation: hide 1s;
    animation-fill-mode: forwards;
}

@keyframes smoothWidthLessen {
    from {
        width: 100%;
    }
    to {
        width: 0%;
    }
}
.notificationTimer {
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 2px;
    left: 0px;
}