.myMeetings {
    & .title {
        display: flex;
        text-align: center;
        width: 98%;
        align-items: center;
        column-gap: 10px;
        font-size: 14px;
        justify-content: center;
    }
    & .meetingsList {
        display: grid;
        row-gap: 10px;
        margin-top: 10px;
    }
}