body {
    margin: 0px;
    padding: 0px;
    font-family: Nunito !important;
}
@font-face {
	font-family: 'Nunito';
	font-display: swap;
	src: url('../public/fonts/Nunito-Bold.woff') format('woff'),
		url('../public/fonts/Nunito-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Nunito';
	font-display: swap;
	src: url('../public/fonts/Nunito-ExtraLight.woff') format('woff'),
		url('../public/fonts/Nunito-ExtraLight.woff2') format('woff2');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Nunito';
	font-display: swap;
	src: url('../public/fonts/Nunito-Light.woff') format('woff'),
		url('../public/fonts/Nunito-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Nunito';
	font-display: swap;
	src: url('../public/fonts/Nunito-Regular.woff') format('woff'),
		url('../public/fonts/Nunito-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Nunito';
	font-display: swap;
	src: url('../public/fonts/Nunito-SemiBold.woff') format('woff'),
		url('../public/fonts/Nunito-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}

.video {
	transform: scale(-1, 1);
}
textarea {
	font-family: Nunito;
}
* {
	padding: 0;
	margin: 0;
	::-webkit-scrollbar {
        width: 1.5px;
		height: 5px;
    }
    ::-webkit-scrollbar-track {
        background: transparent;
    }
    ::-webkit-scrollbar-thumb {
        background-color: grey;
        border-radius: 10px;
    }
}
