body {
	background-color: var(--bg-color);
    color: var(--text-color);
}
[data-theme="white"] {
	--border-color: #1C1E22;
    --bg-color: white;
    --text-color: black;
	--h4BG-color: rgba(176, 176, 176, 0.326);
	--inp-text-color: black;
}
  
[data-theme="black"] {
	--border-color: rgb(119, 119, 119);
    --bg-color: #1C1E22;
    --text-color: #d6dce5;
	--h4BG-color: rgba(231, 231, 231, 0.181);
	--inp-text-color: gray;
	::-webkit-calendar-picker-indicator {
		filter: invert(1);
	}
}

.customModal {
    background-color: var(--bg-color);
    color: var(--text-color);
}
.modalContent {
    background-color: var(--bg-color);
    color: var(--text-color);
}
input {
	border: 1px solid gray;
	outline: none;
	color: var(--inp-text-color);
	background-color: transparent;
}
textarea {
	border: 1px solid gray;
	outline: none;
	color: var(--inp-text-color);
	background-color: transparent;
}
button {
	color: var(--text-color);;
}
h4 {
	color: var(--text-color);
	background-color: var(--h4BG-color);
}
a {
	text-decoration: none;
	color: var(--text-color);;
}
select {
	color: var(--text-color);;
	background: transparent;
	background-color: transparent;
}
option {
	color: var(--text-color);
	background-color: var(--bg-color)
}

.round {
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 50%;
}



@keyframes testAnim {
	100% {stroke-dashoffset: 0;}
}
.test {
	stroke-dasharray: 510;
	stroke-dashoffset: 510;
}
.start
.test {
	animation: testAnim 3333ms linear 0ms forwards;
}