.mobileChatList {
    box-shadow:  0px 0px 1px 1px rgba(154, 147, 140, 0.3);
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
    & .mobileUserChatCard {
        display: grid;
        grid-template-columns: 2fr 5fr;
        max-height: 110px;
        border-bottom: 1px solid rgba(154, 147, 140, 0.3);
        margin-top: 5px;
        & .mobileUserChatCardLastMessage {
            font-size: 16px;
            display: grid;
            grid-template-columns: 10px calc(100% - 10px);
            column-gap: 5px;
            align-items: center;
            & .mobileNotMyChatRound {
                width: 10px;
                height: 10px;
                background-color: rgba(0, 145, 255, 0.581);
                border-radius: 50%;
            }
            & .mobileMyChatRound {
                width: 10px;
                height: 10px;
                background-color: rgba(68, 255, 93, 0.581);
                border-radius: 50%;
            }
            & .mobileLastMessage {
                width: 90%;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }
    & .notify {
        text-align: center;
        & .notifyDesc {
            font-size: 14px;
            color: gray;
        }
    }
}
.loader {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid rgb(0, 153, 255);
    border-left-color: transparent;
    border-right-color: transparent;
    animation: rotate 1.5s infinite;
    margin-left: 45%;
    margin-top: 35%;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}