.chat {
    display: grid;
    grid-template-rows: 15% 70% 15%;
    height: 572px;
    & .block {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    & .user {
        display: grid;
        grid-template-columns: 10% 50% 40%;
        padding: 10px;
        & .avatar {
            width: 65px;
            height: 65px;
            border: 1px solid black;
            border-radius: 50%;
            background-size: 100% 100%;
        }
    }
    & .name {
        margin-left: 4%;
    }
    & .status {
        font-size: 18px;
        color: grey;
    }
    & .statusOnline {
        color: rgb(100, 100, 255);
        font-size: 18px;
    }
    & .messages {
        font-size: 15px;
        margin-top: 1%;
        overflow-y: scroll;
        & .defaultText {
            color: grey;
            margin-top: 20%;
            margin-left: 35%;
        }
        & .myMessage {
            display: inline-block;
            margin-left: 55%;
            border-radius: 10px;
            padding: 10px;
            margin-top: 1%;
            width: 40%;
            min-height: 20px;
            background-color: rgba($color: #86e020, $alpha: 0.3);
            word-wrap: break-word;
        }
        & .notMyMessage {
            border-radius: 10px;
            padding: 10px;
            margin-top: 1%;
            margin-left: 5%;
            width: 40%;
            min-height: 20px;
            background-color: rgba($color: #3b81dd, $alpha: 0.6);
            word-wrap: break-word;
        }
        & .messageTime {
            margin-left: 90%;
            font-size: 10px;
            color: grey;
        }
        & .messageDate{
            margin-left: 45%;
            font-size: 10px;
            color: grey;
        }
        & .messageWithFile {
            display: grid;
            grid-template-columns: 1fr;
        }
    }
    & .form {
        display: grid;
        align-items: center;
    }
    & .messages::-webkit-scrollbar {
        width: 12px;               /* ширина scrollbar */
    }
    & .messages::-webkit-scrollbar-track {
        background: white;        /* цвет дорожки */
    }
    & .messages::-webkit-scrollbar-thumb {
        background-color: grey;    /* цвет плашки */
        border-radius: 20px;       /* закругления плашки */
        border: 3px solid white;  /* padding вокруг плашки */
    }
}

@media screen and (max-width: 1200px) {
    .chat {
        & .user {
            display: grid;
            grid-template-columns: 14% 48% 38%;
        }
    }
}

@media screen and (max-width: 630px) {
    .chat {
        & .user {
            display: grid;
            grid-template-columns: 16% 47% 37%;
        }
    }
}

@media screen and (max-width: 540px) {
    .chat {
        & .user {
            display: grid;
            grid-template-columns: 18% 46% 36%;
        }
    }
}

@media screen and (max-width: 480px) {
    .chat {
        & .user {
            display: grid;
            grid-template-columns: 20% 45% 35%;
        }
    }
}

@media screen and (max-width: 430px) {
    .chat {
        & .user {
            display: grid;
            grid-template-columns: 22% 44% 34%;
        }
    }
}

@media screen and (max-width: 750px) {
    .chat {
        & .messages {
            & .messageTime {
                margin-left: 77%;
            }
        }
    }
}